.Image_Recognizer_Body{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190428/pngtree-bokeh-light-in-pastel-color-gradient-background-image_104145.jpg');
    background-size: cover;
}

.ob{
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
}

.oj{
    font-family: 'Quicksand', sans-serif;
}